table{
	float:none;
	clear:both;
	width:30px;
	border:none;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#vacuum{
	position:relative;
	top:214px;
	text-align:center;
	clear:both;
	padding-top:100px;
	padding-bottom:20px;
}

td img{
	width:320px;
	height:320px;
	margin:20px;
	display:block;
}

td{
	transition: box-shadow .5s;
	border:none;
	margin:20px;
	padding:50px;
}

td:hover{
	box-shadow: 0 0 11px rgba(33,33,33,.2); 
	
}
